<section class="main-content">
  <p-toast></p-toast>
    <ul class="breadcrumb breadcrumb-style ">
      <li class="breadcrumb-item">
        <h5 class="page-title m-b-0">Admin</h5>
      </li>
      <li class="breadcrumb-item bcrumb-1">
        <a routerLink="/dashboard/main">
          <i class="fas fa-home font-17"></i></a>
      </li>
      <li class="breadcrumb-item">Academic Levels List</li>
    </ul>
    <div class="section-body">
      <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="card">
            <div class="p-10">
              <div class="row">
                <div class="col-lg-6">
                  <div class="row m-0">
                    <div class="col-lg-3 p-0">
                      <div class="ngxTableHeader">
                        <div class="table-title">
                          <h2><strong>Academic Levels</strong></h2>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-5 p-0">
                      <div class="ngxTableHeader">
                        <div class="table-search-area">
                          <div>
                            <label for="search-input"><i class="material-icons search-icon">search</i></label>
                            <input placeholder="Search" type="text" class="browser-default search-field"
                               aria-label="Search box">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 p-0">
                      <div class="ngxTableHeader">
                        <div class="header-buttons-left">
                         
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <ngx-datatable 
                #table class="material" 
                [rows]="data" 
                [loadingIndicator]="loadingIndicator"
                columnMode="force" 
                [headerHeight]="60" 
                [footerHeight]="80" 
                rowHeight="auto" 
                [limit]="10"
                [scrollbarH]="scrollBarHorizontal" 
                [reorderable]="reorderable">

                <ngx-datatable-column [width]="80" name="" sortable="false">
                  <ng-template  
                    let-value="value"
                    let-row="row"
                    let-rowIndex="rowIndex"
                    sortable="false"
                    ngx-datatable-header-template
                    class="text-center">
                    <div class="icon-button-demo buttons">
                      <button class="btn btn-icon icon-left btn-primary rounded-button" (click)='addNewAcademicLevel(addEditRecord)' >
                        <i class="material-icons">add</i>
                      </button>
                    </div>
                  </ng-template>
                  
                  <ng-template 
                      let-value="value" 
                      let-row="row" 
                      let-rowIndex="rowIndex" 
                      ngx-datatable-cell-template>
                      
                    <div class="buttons">
                      <span>
                        <!--Academic Level edit Button-->
                        <button 
                          class="btn btn-icon btn-sm btn-primary" 
                          (click)='editRow(row, rowIndex, addEditRecord)'>
                          <i class="fas fa-pen"></i>
                        </button>
                        <!--Delete Academic Level Button-->
                        <button 
                          class="btn btn-icon btn-sm btn-danger"
                          (click)='deleteAcademicLevel(row)'>
                          <i class="far fa-trash-alt"></i>
                        </button>
                      </span>
                    </div>
                    
                  </ng-template>
                </ngx-datatable-column>

                <!--Academic Level Name Column-->
                <ngx-datatable-column name="Name" [width]="100">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.name}}
                  </ng-template>
                </ngx-datatable-column>

                <!--LevelHead Name Column-->
                <ngx-datatable-column name="Level Head">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.levelHeadName}}
                  </ng-template>
                </ngx-datatable-column>

                <!--IsActive Column-->
                <ngx-datatable-column name="Is Active">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.isActive}}
                  </ng-template>
                </ngx-datatable-column>

                <!--CreatedBy Column-->
                <ngx-datatable-column name="Created By">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.createdByName}}
                  </ng-template>
                </ngx-datatable-column>

                <!--Created On Column-->
                <ngx-datatable-column name="Created On">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.createdOn | date}}
                  </ng-template>
                </ngx-datatable-column>

                <!--UpdateBy Column-->
                <ngx-datatable-column name="updated By">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.updatedByName}}
                  </ng-template>
                </ngx-datatable-column>

                <!--Update On Column-->
                <ngx-datatable-column name="updated On">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.updatedOn | date}}
                  </ng-template>
                </ngx-datatable-column>

               
              </ngx-datatable>
              
              <!-- Add Record Modal Window -->
            <ng-template #addEditRecord let-modal>
              <div class="modal-header editRowModal">
                <h4 class="modal-title" id="modal-basic-title">
                  <div class="table-modal-header">
                    <div class="modal-about">
                      <div class="fw-bold p-t-10 font-17">
                        <div *ngIf='academicLevelId == 0'>
                          Add new Academic Level
                        </div>
                        <div *ngIf='academicLevelId != 0'>
                          Update Academic Level
                        </div>
                      </div>
                    </div>
                  </div>
                </h4>
               
                <!--Modal Close Button-->
                <button 
                  type="button" 
                  class="close"
                  aria-label="Close" 
                  (click)="modal.dismiss()">
                  <span aria-hidden="true">
                    <i class="material-icons">close</i>
                  </span>
                </button>
              </div>
              <div class="modal-body">
                <form 
                  class="register-form"
                  [formGroup]="academicLevelFrom">
                   
                  <!--First Form Row -->
                  <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                      <label>Name <span class="text-danger">*</span></label>
                      <input 
                          type="text" 
                          class="form-control" 
                          placeholder="Name" 
                          formControlName="name"
                          required>
                      <small class="form-text text-danger"
                        *ngIf="!academicLevelFrom.get('name').valid && academicLevelFrom.get('name').touched"> 
                        Acedemic Levelname is required
                      </small>
                    </div>
                  </div>
                   
                  <!--Second Form Row -->
                  <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                      <div class="form-group">
                        <label>Level Head<span class="text-danger">*</span></label>
                        <select 
                          class="form-select form-control" 
                          optionValue="id"
                          formControlName="levelHeadId">
                          <option 
                            *ngFor="let item of levelHeads"
                            [value]="item.id">{{item.name}}
                          </option>
                        </select>
                      </div>
                    </div> 
                  </div>
                   <!--Modal Footer -->
                  <div class="modal-footer">
                     <!--Academic Level Save Button -->
                    <button 
                      type="button" 
                      class="btn btn-primary" 
                      (click)="saveAcademicLevel()" 
                      [disabled]="!academicLevelFrom.valid"> Save Academic Level
                    </button>
                    <!--Modal Close Button -->
                    <button 
                      type="button" 
                      class="btn btn-light" 
                      (click)="modal.close('Close click')">Close
                    </button>
                  </div>
                </form>
              </div>
            </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>