<main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
  <p-toast position="top-center"></p-toast>
  <div class="container">
    <div class="row">
      <div class="auth-card">
        <div class="col-12">
          <div class="card card-primary">
            <div class="card-header">
              <h4>Forgot Password</h4>
            </div>
            <div class="card-body">
              <p class="text-muted">We will send a link to reset your password</p>
              <form 
                class="validate-form" 
                [formGroup]="sendEmailForm"
                (ngSubmit)="onSubmit()"
                >
                <div class="form-group">
                  <label for="email">School Domain</label>
                  <input 
                    type="text" 
                    class="form-control" 
                    name="email" 
                    tabindex="1" 
                    formControlName="schoolDomain"
                    required 
                    >
                </div>

                <div class="form-group">
                  <label for="email">Email</label>
                  <input 
                    type="text" 
                    class="form-control" 
                    name="email" 
                    tabindex="1" 
                    formControlName="email"
                    required 
                    >
                </div>
                <div class="form-group">
                  <button 
                    class="btn btn-primary btn-lg btn-block" 
                    >
                    Forgot Password
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
