<section class="main-content">
  <ul class="breadcrumb breadcrumb-style ">
      <li class="breadcrumb-item">
        <h5 class="page-title m-b-0">Lesson Assignment</h5>
      </li>
      <li class="breadcrumb-item bcrumb-1">
        <a routerLink="/dashboard/main">
          <i class="fas fa-home font-17"></i></a>
      </li>
      <li class="breadcrumb-item"> Lesson Assignment List</li>
  </ul>
      <div class="section-body">
          <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="card">
                <div class="p-10">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="row m-0">
                        <div class="col-lg-3 p-0">
                          <div class="ngxTableHeader">
                            <div class="table-title">
                              <h2><strong>Lesson Assignment</strong></h2>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-5 p-0">
                          <div class="ngxTableHeader">
                            <div class="table-search-area">
                              <div>
                                <label for="search-input"><i class="material-icons search-icon">search</i></label>
                                <input placeholder="Search" type="text" class="browser-default search-field"
                                   aria-label="Search box">
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-4 p-0">
                          <div class="ngxTableHeader">
                            <div class="header-buttons-left">
                              <div class="icon-button-demo buttons">
                                <button class="btn btn-icon icon-left btn-primary rounded-button"  (click)='createNewLessonAssignment(addEditRecord)' >
                                  <i class="material-icons">add</i>
                                </button>
                                <button  class="btn btn-icon icon-left btn-danger rounded-button">
                                  <i class="material-icons">delete</i>
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                 <!--Table-->
              <ngx-datatable #table class="material" [rows]="data" [loadingIndicator]="loadingIndicator"
              columnMode="force" [headerHeight]="60" [footerHeight]="80" rowHeight="auto" [limit]="10"
              [scrollbarH]="scrollBarHorizontal" [reorderable]="reorderable">
              <!--Column 01-->
              <ngx-datatable-column name="Id" [width]="100">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row.Id}}
                </ng-template>
              </ngx-datatable-column>
                   <!--Column 02-->
                   <ngx-datatable-column name="Lesson" [width]="100">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{row.lessonName}}
                    </ng-template>
                  </ngx-datatable-column>
                       <!--Column 03-->
              <ngx-datatable-column name="Name" [width]="100">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row.name}}
                </ng-template>
              </ngx-datatable-column>
              <!--Column 04-->
              <ngx-datatable-column name="CreatedOn" [width]="100">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row.createdOn}}
                </ng-template>
              </ngx-datatable-column>
               <!--Column 05-->
              <ngx-datatable-column name="StartDate" [width]="100">
              <ng-template let-row="row" ngx-datatable-cell-template>
               {{row.startDate}}
               </ng-template>
               </ngx-datatable-column>
               <!--Column 05-->
              <ngx-datatable-column name="DueDate" [width]="100">
              <ng-template let-row="row" ngx-datatable-cell-template>
              {{row.dueDate}}
              </ng-template>
              </ngx-datatable-column>
              <!--Column 06-->
              <ngx-datatable-column name="CreatedBy" [width]="100">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row.createdByName}}
                </ng-template>
              </ngx-datatable-column>
              <!--Column 07-->
              <ngx-datatable-column name="UpdatedOn" [width]="100">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row.updatedOn}}
                </ng-template>
              </ngx-datatable-column>
              <!--Column 08-->
            <ngx-datatable-column name="UpdatedBy" [width]="100">
            <ng-template let-row="row" ngx-datatable-cell-template>
             {{row.updatedByName}}
            </ng-template>
             </ngx-datatable-column>

              
              <ngx-datatable-column [width]="100" name="Actions" sortable="false">
                <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                  <span>
                    <button class="btn btn-tbl-edit h-auto" >
                      <i class="fas fa-pen"></i>
                    </button>
                    <button class="btn btn-tbl-delete h-auto">
                      <i class="far fa-trash-alt"></i>
                    </button>
                  </span>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
            

          <!-- Add Record Modal Window -->
          <ng-template #addEditRecord let-modal>
              <div class="modal-header editRowModal">
                <h4 class="modal-title" id="modal-basic-title">
                  <div class="table-modal-header">
                    <div class="modal-about">
                      <div class="fw-bold p-t-10 font-17">
                        Update Student Essay  Answer</div>
                    </div>
                  </div>
                </h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
                  <span aria-hidden="true"><i class="material-icons">close</i></span>
                </button>
              </div>

              <!--Form-->
              <div class="modal-body">
                <form class="register-form" [formGroup]="lessonAssignmentForm">

                    <!--Row 01-->
                    <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                      <label>Id<span class="text-danger">*</span></label>
                      <input 
                          type="text" 
                          class="form-control" 
                          placeholder="Id" 
                          formControlName="id"
                          required>
                      <small class="form-text text-danger"
                        *ngIf="!lessonAssignmentForm.get('id').valid && lessonAssignmentForm.get('id').touched"> Id is
                        required</small>
                    </div>

                     <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                      <div class="form-group">
                        <label>Lesson<span class="text-danger">*</span></label>
                      <input 
                          type="text" 
                          class="form-control" 
                          placeholder="Lesson" 
                          formControlName="lesson"
                          required>
                      <small class="form-text text-danger"
                        *ngIf="!lessonAssignmentForm.get('lesson').valid && lessonAssignmentForm.get('lesson').touched">Lesson is
                        required</small>
                      </div>
                    </div>  
                  </div>
                  <!--Row 02-->
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <div class="form-group">
                      <label>Name<span class="text-danger">*</span></label>
                    <input 
                        type="text" 
                        class="form-control" 
                        placeholder="Name" 
                        formControlName="name"
                        required>
                    <small class="form-text text-danger"
                      *ngIf="!lessonAssignmentForm.get('name').valid && lessonAssignmentForm.get('name').touched">Name is
                      required</small>
                    </div>
                  </div> 
                  <!--Row 03-->
                 <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                      <label>Description <span class="text-danger">*</span></label>
                      <input 
                      type="textarea"  style="width:50vw" 
                      class="form-control" 
                      placeholder="Description" 
                      formControlName="description"
                      required>
                  <small class="form-text text-danger"
                    *ngIf="!lessonAssignmentForm.get('description').valid && lessonAssignmentForm.get('description').touched"> Description is
                    required</small>
                    </div>                 
                  </div> 
                  <!--Row 04-->
                  <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                      <label>IsActive<span class="text-danger">*</span></label>
                      <input type="radio" value="yes" name="isActive" required ngModel> Yes<br>
                       <input type="radio" value="no" name="isActive" ngModel> No
                      <small class="form-text text-danger"
                       *ngIf="!essayStudentAnswerForm.get('isActive').valid && essayStudentAnswerForm.get('isActive').touched"> IsActive is
                        required</small>
                    </div>

                     <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                      <div class="form-group">
                        <label>Created On<span class="text-danger">*</span></label>
                      <input 
                          type="text" 
                          class="form-control" 
                          placeholder="Created On" 
                          formControlName="createdOn"
                          required>
                      <small class="form-text text-danger"
                        *ngIf="!lessonAssignmentForm.get('createdOn').valid && lessonAssignmentForm.get('createdOn').touched"> CreatedOn is
                        required</small>
                      </div>
                    </div>  
                  </div>
                     <!--Row 05-->
                  <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                      <label>Start Date<span class="text-danger">*</span></label>
                      <input 
                          type="text" 
                          class="form-control" 
                          placeholder="" 
                          formControlName="startDate"
                          required>
                      <small class="form-text text-danger"
                        *ngIf="!essayStudentAnswerForm.get('startDate').valid && essayStudentAnswerForm.get('startDate').touched"> Start Date is
                        required</small>
                    </div>
                     <!--Row 06-->
                     <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                      <div class="form-group">
                        <label>Due Date<span class="text-danger">*</span></label>
                      <input 
                          type="text" 
                          class="form-control" 
                          placeholder="" 
                          formControlName="dueDate"
                          required>
                      <small class="form-text text-danger"
                        *ngIf="!lessonAssignmentForm.get('dueDate').valid && lessonAssignmentForm.get('dueDate').touched"> Due Date is
                        required</small>
                      </div>
                    </div>  
                  </div>
                  <!--Row 07-->
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <div class="form-group">
                      <label>Created By<span class="text-danger">*</span></label>
                    <input 
                        type="text" 
                        class="form-control" 
                        placeholder="CreatedBy" 
                        formControlName="createdByName"
                        required>
                    <small class="form-text text-danger"
                      *ngIf="!lessonAssignmentForm.get('createdByName').valid && lessonAssignmentForm.get('createdByName').touched"> Created By Name is
                      required</small>
                    </div>
                  </div>  
                <!--Row 08-->
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <div class="form-group">
                      <label>Updated On<span class="text-danger">*</span></label>
                    <input 
                        type="text" 
                        class="form-control" 
                        placeholder="Updated On" 
                        formControlName="updatedOn"
                        required>
                    <small class="form-text text-danger"
                      *ngIf="!lessonAssignmentForm.get('updatedOn').valid && lessonAssignmentForm.get('updatedOn').touched"> Updated Date is
                      required</small>
                    </div>
                  </div>  
              
                <!--Row 09-->
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <div class="form-group">
                    <label>Updated By Id<span class="text-danger">*</span></label>
                  <input 
                      type="text" 
                      class="form-control" 
                      placeholder="UpdatedById" 
                      formControlName="updatedById"
                      required>
                  <small class="form-text text-danger"
                    *ngIf="!lessonAssignmentForm.get('updatedById').valid && lessonAssignmentForm.get('updatedById').touched"> Updated by Name is
                    required</small>
                  </div>
                </div>  

                  <div class="modal-footer">
                    <button type="button" class="btn btn-primary" (click)="saveLessonAssignment()" [disabled]="!lessonAssignmentForm.valid">UPDATE STUDENT ESSAY ANSWER</button>
                    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
                  </div>
                </form>
              </div>
            </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>



 