
<section class="main-content">
    <ul class="breadcrumb breadcrumb-style ">
        <li class="breadcrumb-item">
          <h5 class="page-title m-b-0">Lesson Assignment</h5>
        </li>
        <li class="breadcrumb-item bcrumb-1">
          <a routerLink="/dashboard/main">
            <i class="fas fa-home font-17"></i></a>
        </li>
        <li class="breadcrumb-item"> Lesson Assignment List</li>
    </ul>
        <div class="section-body">
            <div class="row clearfix">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                  <div class="p-10">
                    <div class="row">
                      <div class="col-lg-6">
                        <div class="row m-0">
                          <div class="col-lg-3 p-0">
                            <div class="ngxTableHeader">
                              <div class="table-title">
                                <h2><strong>Lesson Assignment</strong></h2>
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-5 p-0">
                            <div class="ngxTableHeader">
                              <div class="table-search-area">
                                <div>
                                  <label for="search-input"><i class="material-icons search-icon">search</i></label>
                                  <input placeholder="Search" type="text" class="browser-default search-field"
                                     aria-label="Search box">
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-4 p-0">
                            <div class="ngxTableHeader">
                              <div class="header-buttons-left">
                                <div class="icon-button-demo buttons">
                                  <button class="btn btn-icon icon-left btn-primary rounded-button" >
                                    <i class="material-icons">add</i>
                                  </button>
                                  <button  class="btn btn-icon icon-left btn-danger rounded-button">
                                    <i class="material-icons">delete</i>
                                  </button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
  
  
                                    <!--Table-->
             <ngx-datatable #table class="material" [rows]="data" [loadingIndicator]="loadingIndicator"
                columnMode="force" [headerHeight]="60" [footerHeight]="80" rowHeight="auto" [limit]="10"
                [scrollbarH]="scrollBarHorizontal" [reorderable]="reorderable">
        
                <ngx-datatable-column name="LessonId" [width]="100">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.lessonId}}
                  </ng-template>
                </ngx-datatable-column>
        
                <ngx-datatable-column name="StudentId" [width]="100">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.studentId}}
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Name" [width]="100">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{row.name}}
                    </ng-template>
                  </ngx-datatable-column>
          
                  <ngx-datatable-column name="Description" [width]="100">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{row.description}}
                    </ng-template>
                  </ngx-datatable-column>
                  
                <ngx-datatable-column name="IsActive" [width]="100">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{row.isActive}}
                    </ng-template>
                  </ngx-datatable-column>
          
                  <ngx-datatable-column name="CreatedOn" [width]="100">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{row.createdOn}}
                    </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-column name="CreatedById" [width]="100">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{row.createdById}}
                    </ng-template>
                  </ngx-datatable-column>
                  
                <ngx-datatable-column name="UpdatedOn" [width]="100">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{row.updateOn}}
                    </ng-template>
                  </ngx-datatable-column>
          
                  <ngx-datatable-column name="UpdateById" [width]="100">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{row.updatedById}}
                    </ng-template>
                  </ngx-datatable-column>
  
                <!-- <ngx-datatable-column name="StartDate" [width]="100">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.sequenceNo}}
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="DueDate" [width]="100">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{row.sequenceNo}}
                    </ng-template>
                  </ngx-datatable-column> -->
                 <ngx-datatable-column [width]="100" name="Actions" sortable="false">
                  <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                    <span>
                      <button class="btn btn-tbl-edit h-auto" >
                        <i class="fas fa-pen"></i>
                      </button>
                      <button class="btn btn-tbl-delete h-auto">
                        <i class="far fa-trash-alt"></i>
                      </button>
                    </span>
                  </ng-template>
                </ngx-datatable-column>
              </ngx-datatable>
              
  
                            <!-- Add Record Modal Window -->
            <ng-template #addEditRecord let-modal>
                <div class="modal-header editRowModal">
                  <h4 class="modal-title" id="modal-basic-title">
                    <div class="table-modal-header">
                      <div class="modal-about">
                        <div class="fw-bold p-t-10 font-17">
                          Add new Lesson Assignment</div>
                      </div>
                    </div>
                  </h4>
                  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
                    <span aria-hidden="true"><i class="material-icons">close</i></span>
                  </button>
                </div>
                <div class="modal-body">
                  <form class="register-form" [formGroup]="lessonAssignmentForm">
                    <!-- <div class="input-field col s12 d-none">
                      <input 
                        formControlName="id" 
                        class="form-control" 
                        type="hidden">
                    </div>
                    <div class="input-field col s12 d-none">
                      <input 
                        formControlName="img" 
                        class="form-control" 
                        type="hidden">
                    </div> -->
  
                    <div class="row">
                      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                        <label>Lesson<span class="text-danger">*</span></label>
                        <input 
                            type="text" 
                            class="form-control" 
                            placeholder="Name" 
                            formControlName="name"
                            required>
                        <small class="form-text text-danger"
                          *ngIf="!lessonAssignmentForm.get('id').valid && lessonAssignmentForm.get('LessonId').touched"> Lesson  is
                          required</small>
                      </div>
  
                      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                        <div class="form-group">
                          <label>Name<span class="text-danger">*</span></label>
                          <select class="form-select form-control" formControlName="selectQuestionId">
                            <option *ngFor="let item of levelHeads" [value]="item.id">{{item.name}}</option>
                          </select>
                        </div>
                      </div> 
                    </div>
                    <div class="row">
                      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                        <label>Description<span class="text-danger">*</span></label>
                        <select class="form-control" formControlName="descripstion" required>
                          <option value="" selected disabled>Please select</option>
                          <option *ngFor="let desig of designationType" [value]="desig.value">
                            <!-- {{desig.value}} -->
                          </option>
                        </select>
                      </div>                 
                    </div>
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                          <label>IsActive<span class="text-danger">*</span></label>
                          <input 
                              type="text" 
                              class="form-control" 
                              placeholder="Name" 
                              formControlName="name"
                              required>
                          <small class="form-text text-danger"
                            *ngIf="!lessonAssignmentForm.get('id').valid && lessonAssignmentForm.get('LessonId').touched"> Lesson  is
                            required</small>
                        </div>
    
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                          <div class="form-group">
                            <label>Created On<span class="text-danger">*</span></label>
                            <select class="form-select form-control" formControlName="selectQuestionId">
                              <option *ngFor="let item of levelHeads" [value]="item.id">{{item.name}}</option>
                            </select>
                          </div>
                        </div> 
                      </div>

                      <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                          <label>Created By Id<span class="text-danger">*</span></label>
                          <input 
                              type="text" 
                              class="form-control" 
                              placeholder="Name" 
                              formControlName="name"
                              required>
                          <small class="form-text text-danger"
                            *ngIf="!lessonAssignmentForm.get('id').valid && lessonAssignmentForm.get('LessonId').touched"> Lesson  is
                            required</small>
                        </div>
    
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                          <div class="form-group">
                            <label>Updated On<span class="text-danger">*</span></label>
                            <select class="form-select form-control" formControlName="selectQuestionId">
                              <option *ngFor="let item of levelHeads" [value]="item.id">{{item.name}}</option>
                            </select>
                          </div>
                        </div> 
                      </div>

                      <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                          <label>Updated By Id<span class="text-danger">*</span></label>
                          <input 
                              type="text" 
                              class="form-control" 
                              placeholder="Name" 
                              formControlName="name"
                              required>
                          <small class="form-text text-danger"
                            *ngIf="!lessonAssignmentForm.get('id').valid && lessonAssignmentForm.get('LessonId').touched"> Lesson  is
                            required</small>
                        </div>
                      </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-primary" (click)="save()" [disabled]="!essayStudentAnswerFrom.valid">ADD NEW MCQ ANSWER</button>
                      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
                    </div>
                  </form>
                </div>
              </ng-template>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  
  
  
   