<section class="main-content">
  <ul class="breadcrumb breadcrumb-style ">
      <li class="breadcrumb-item">
        <h5 class="page-title m-b-0">Lesson Assignment </h5>
      </li>
      <li class="breadcrumb-item bcrumb-1">
        <a routerLink="/dashboard/main">
          <i class="fas fa-home font-17"></i></a>
      </li>
      <li class="breadcrumb-item"> Lesson Assignment List</li>
  </ul>
      <div class="section-body">
          <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="card">
                <div class="p-10">
                  <div class="row">
                    <div class="col-12">
                      <div class="row m-0">
                       <form 
                        [formGroup]="lessonAssignmentFilterForm">
                      <div class="col-lg-12 -0">
                        <div class="ngxTableHeader">
                          <div class="table-title">
                            <h2><strong>Lessons </strong></h2>
                          </div>
                        </div>
                      </div>
                      <div class="col-12 p-0">
                        <div class="row">
                          <div class = "row">
                          <div class="col-4">
                            <div class="form-group position-relative">
                              <label>Search Text</label>
                              <i class="fas fa-search input-icons"></i>
                              <input
                                type="text"
                                (keyup)="filterDatatable($event)"
                                formControlName="searchText"
                                class="form-control psl-5"
                                placeholder="Search by name"
                                name="searchText"
                                required=""
                               />
                            </div>
                          </div>
                            <div class="col-4">
                              <div class="form-group">
                                <label> Lessons </label>
                                <select
                                  class="form-select form-control"
                                  formControlName="lessonId"
                                  (change) ="onLessonFilterChanged($event.target.value)"
                                >
                                  <option
                                    *ngFor="let item of lessonNames"
                                    [value]="item.id"
                                  >
                                    {{ item.name }}
                                  </option>
                                </select>
                              </div>
                            </div>
                            <div class="col-lg-6 ">
                              <div class="ngxTableHeader">
                                <div class="header-buttons-left">
                                  <div class="icon-button-dleftemo buttons">
                                    <button class="btn btn-icon icon-left btn-primary rounded-button" (click)='createNewLessonAssignment(addEditRecord)' >
                                    <i class="material-icons">add</i>
                                    </button>
                                  </div>
                                </div>
                                <div class="header-buttons-left">
                                  <div class="icon-button-dleftemo buttons"></div>
                                </div> 
                              </div>                        
                            </div>
                          </div>
                        </div>
                        </div>
                        </form> 
                      </div>
                    </div>
                    </div>
                
               

                 <!--Table-->
               <ngx-datatable 
                          #table 
                          class="material"
                          [rows]="data"
                          [loadingIndicator]="loadingIndicator"
                          columnMode="force"
                          [headerHeight]="60"
                          [footerHeight]="80"
                          rowHeight="auto"
                          [externalPaging]="true"
                          [count]="totalRecord"
                          [offset]="currentPage"
                          [limit]="pageSize"
                          [scrollbarH]="scrollBarHorizontal"
                          [reorderable]="reorderable"
                          (page)="setPage($event)"
                          >
                 


            

              <ngx-datatable-column [width]="100" name="Actions" sortable="false">
                <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                  <div class="buttons">
                    <span>
                      <button 
                        class="btn btn-icon btn-sm btn-primary" 
                        (click)='editRow(row, rowIndex, addEditRecord)'>
                        <i class="fas fa-edit"></i>
                      </button>

                     <button 
                        class="btn btn-icon btn-sm btn-danger" 
                        (click)='deleteLessonAssignment(row)'>
                        <i class="far fa-trash-alt"></i>
                      </button> 
                    </span>
                  </div>                    
                </ng-template>
              </ngx-datatable-column>

              <!--Column 01-->
              <ngx-datatable-column name="Id" [width]="100">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row.id}}
                </ng-template>
              </ngx-datatable-column>
                   <!--Column 02-->
                   <ngx-datatable-column name="Lesson" [width]="100">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{row.lessonName}}
                    </ng-template>
                  </ngx-datatable-column>
                       <!--Column 03-->
              <ngx-datatable-column name="Name" [width]="100">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row.name}}
                </ng-template>
              </ngx-datatable-column>
                      <!--Column 04-->
                      <ngx-datatable-column name="Description" [width]="100">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                          {{row.description}}
                        </ng-template>
                      </ngx-datatable-column>
              <!--Column 05-->
              <ngx-datatable-column name="Start Date" [width]="100">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row.startDate | date}}
                </ng-template>
              </ngx-datatable-column>
              <!--Column 06-->
              <ngx-datatable-column name="Due Date" [width]="100">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row.duetDate | date}}
                </ng-template>
              </ngx-datatable-column>
              <!--Column 07-->
              <ngx-datatable-column name="Created On" [width]="100">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row.createdOn | date }}
                </ng-template>
              </ngx-datatable-column>
                <!--Column 08-->
                <ngx-datatable-column name="Created By Id" [width]="100">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.createdByName }}
                  </ng-template>
                </ngx-datatable-column>
                 <!--Column 09-->
                 <ngx-datatable-column name="Updated On" [width]="100">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.updatedOn | date }}
                  </ng-template>
                </ngx-datatable-column>
                 <!--Column -->
                 <ngx-datatable-column name="Updated By Id" [width]="100">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.updatedByName }}
                  </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>
            

          <!-- Add Record Modal Window -->
          <ng-template #addEditRecord let-modal>
              <div class="modal-header editRowModal">
                <h4 class="modal-title" id="modal-basic-title">
                  <div class="table-modal-header">
                    <div class="modal-about">
                      <div class="fw-bold p-t-10 font-17">
                        <div *ngIf='id==0'>
                          Insert Lesson Assignment
                        </div>
                        <div *ngIf='id!=0'>
                          Update Lesson Assignment
                        </div>
                       </div>
                    </div>
                  </div>
                </h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
                  <span aria-hidden="true"><i class="material-icons">close</i></span>
                </button>
              </div>

              <!--Form-->
              <div class="modal-body">
                <form class="register-form" [formGroup]="lessonAssignmentForm ">

                    <!--Row 01-->
                      <div class="row">
                      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                        <div class="form-group">
                          <label>Lesson<span class="text-danger">*</span></label>
                          <select class="form-select form-control" formControlName="lessonId" style="width:25vw" required>
                            <option *ngFor="let item of lessonNames" [value]="item.id">{{item.name}}</option>
                          </select>
                        </div>
                      </div>
                    </div>

                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                      <label>Name <span class="text-danger">*</span></label>
                      <input 
                      type="textarea"  style="width:25vw" 
                      class="form-control" 
                      placeholder="Name" 
                      formControlName="name"
                      required>
                  <small class="form-text text-danger"
                    *ngIf="!lessonAssignmentForm .get('name').valid && lessonAssignmentForm .get('name').touched"> Name is
                    required</small>
                    </div>    
                     
                  <!--Row 02-->
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <label>Description <span class="text-danger">*</span></label>
                    <input 
                    type="textarea"  style="width:25vw" 
                    class="form-control" 
                    placeholder="Description" 
                    formControlName="description"
                    required>
                <small class="form-text text-danger"
                  *ngIf="!lessonAssignmentForm .get('description').valid && lessonAssignmentForm .get('description').touched"> Description is
                  required</small>
                  </div>    

                 <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                      <label>Start Date <span class="text-danger">*</span></label>
                      <input 
                      type="date"  style="width:25vw" 
                      class="form-control" 
                      placeholder="Start Date" 
                      formControlName="startDate"
                      required>
                - <small class="form-text text-danger"
                    *ngIf="!lessonAssignmentForm .get('startDate').valid && lessonAssignmentForm .get('startDate').touched"> Start Date is
                    required</small> 
                    </div>                 
                  </div> 
                  <!--Row 03-->
                  <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                      <label>Due Date<span class="text-danger">*</span></label>
                      <input 
                          type="date"  style="width:25vw" 
                          class="form-control" 
                          placeholder="Due Date" 
                          formControlName="duetDate"
                          required>
                          <small class="form-text text-danger"
                          *ngIf="!lessonAssignmentForm .get('duetDate').valid && lessonAssignmentForm .get('duetDate').touched"> Due Date is
                          required</small> 
                  </div> 
                  </div>
                  <div class="form-group">

                    <label class="control-label">Lesson References</label>

                    <div><div class="image-upload-preview-with-crop--stack--35r3L">

                      <div class="image-upload-preview-with-crop--previewWrapper--2Py_C">

                        <div class="image-upload-preview-with-crop--imageWrapper--cPa0q">

                          <img data-purpose="image-preview" alt="Course image" class="" src="https://s.udemycdn.com/course/750x422/placeholder.jpg"></div>

                          <div class="image-upload-preview-with-crop--tips--3jM-I"></div></div>

                          <div class="image-upload-preview-with-crop--form-element--2S89s"><div><p>

                            <span>Upload your Lesson image,Video or file here.

                               </span></p></div><div class="file-uploader--file-selector--3zSt7" data-purpose="">

                                 <input accept=".gif,.jpg,.jpeg,.png" type="file" id="FileUploaderS3-0--3" class="sr-only">

                                 <label for="FileUploaderS3-0--3">

                                   <span class="input-group">

                                     <div class="form-control file-uploader--fake-file-input--30NIH">No file selected</div>

                                     <span class="input-group-btn"><div type="button" class="btn btn-default">Upload File</div>

                                    </span></span></label></div><input type="hidden" value=""></div></div></div></div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-primary" (click)="saveLessonAssignment()" [disabled]="!lessonAssignmentForm.valid"> ADD NEW LESSON ASSIGNMENTS </button>
                    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
                  </div>
                </form>
              </div>
            </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>



 