<section class="main-content">
  <ul class="breadcrumb breadcrumb-style ">
    <li class="breadcrumb-item">
      <h5 class="page-title m-b-0">Lesson</h5>
    </li>
    <li class="breadcrumb-item bcrumb-1">
      <a routerLink="/dashboard/main">
        <i class="fas fa-home font-17"></i></a>
    </li>
    <li class="breadcrumb-item">Lesson List</li>
    <li class="breadcrumb-item active">Lesson Content</li>
  </ul>
  <div class="section-body">
         <h2><strong>Lesson Content</strong></h2>
             <label for="title" class="control-label">Lesson Topic</label>
                      <div class="form-control-counter-container">
                        <input placeholder="Insert your Lesson topic" name="topic" 
                        data-purpose="edit-course-title" maxlength="60" id="title" class="form-control" >
                        <div class="form-group">
                          
                            <label for="title" class="control-label">Lesson SubTopic</label>
                            <div class="form-control-counter-container">
                              <input placeholder="Insert your Lesson subtopic" name="topic" 
                              data-purpose="edit-course-title" maxlength="60" id="title" class="form-control" >
                             
                              <label for="title" class="control-label">Description</label>
                              <div class="form-control-counter-container">

                                <span pripple="" tabindex="0" class="p-button p-component p-fileupload-choose p-ripple"><input type="file" multiple="" accept="image/*" title="">
                                  <span class="pi pi-plus p-button-icon p-button-icon-left"></span>
                                
                                <span class="p-ink" style="height: 91px; width: 91px; top: -22.1667px; left: 1px;">
                                </span></span>
                                <p-button type="button" 
                                class="ng-star-inserted">
                                
                                <button pripple="" disabled="" type="button" class="p-button p-component 
                                p-disabled p-ripple"><!----><span class="pi pi-upload p-button-icon 
                                p-button-icon-left ng-star-inserted" aria-hidden="true">
                              </span><!----><span class="p-button-label ng-star-inserted" 
                              aria-hidden="false">Upload</span><!----><!---->
                              <span class="p-ink"></span></button></p-button>
                                <p-button type="button" class="ng-star-inserted">
                                  <button pripple="" disabled="" type="button" class="p-button p-component 
                                  p-disabled p-ripple"><!----><span class="pi pi-times p-button-icon 
                                  p-button-icon-left ng-star-inserted" aria-hidden="true">
                                </span><!----><span class="p-button-label ng-star-inserted"
                                 aria-hidden="false">Cancel</span><!----><!----><span class="p-ink"></span>
                                </button></p-button>

                                
                                
                            </div></div></div> </div>
                            
                       

      
