<section class="main-content">
    <ul class="breadcrumb breadcrumb-style ">
      <li class="breadcrumb-item">
        <h5 class="page-title m-b-0">Profile</h5>
      </li>
      <li class="breadcrumb-item bcrumb-1">
        <a routerLink="/dashboard/main">
          <i class="fas fa-home font-17"></i></a>
      </li>
      
    </ul>
    <div class="section-body">
      <div class="row mt-sm-4">
        <div class="col-12 col-md-12 col-lg-4">
          <div class="card author-box">
            <div class="card-body">
              <div class="author-box-center">
                <img alt="image" src="assets/images/users/user-1.png" class="rounded-circle author-box-picture">
                <div class="clearfix"></div>
                <div class="author-box-name">
                  <a href="#" onClick="return false;">Sarah Smith</a>
                </div>
                <div class="author-box-job">Web Developer</div>
              </div>
           <!--    <div class="text-center">
                <div class="author-box-description">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur voluptatum alias molestias
                    minus quod dignissimos.
                  </p>
                </div>
                <div class="mb-2 mt-3">
                  <div class="text-small fw-bold">Follow Hasan On</div>
                </div>
                <a href="#" onClick="return false;" class="btn btn-social-icon msr-1 btn-facebook">
                  <i class="fab fa-facebook-f"></i>
                </a>
                <a href="#" onClick="return false;" class="btn btn-social-icon msr-1 btn-twitter">
                  <i class="fab fa-twitter"></i>
                </a>
                <a href="#" onClick="return false;" class="btn btn-social-icon msr-1 btn-github">
                  <i class="fab fa-github"></i>
                </a>
                <a href="#" onClick="return false;" class="btn btn-social-icon msr-1 btn-instagram">
                  <i class="fab fa-instagram"></i>
                </a>
                <div class="w-100 d-sm-none"></div>
              </div> -->
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h4>Personal Details</h4>
            </div>
            <div class="card-body">
              <div class="py-4">
                <p class="clearfix">
                  <span class="float-start">
                    Birthday
                  </span>
                  <span class="float-end text-muted">
                    30-05-1998
                  </span>
                </p>
                <p class="clearfix">
                  <span class="float-start">
                    Phone
                  </span>
                  <span class="float-end text-muted">
                    (0123)123456789
                  </span>
                </p>
                <p class="clearfix">
                  <span class="float-start">
                    Mail
                  </span>
                  <span class="float-end text-muted">
                    test@example.com
                  </span>
                </p>
                <p class="clearfix">
                  <span class="float-start">
                    Facebook
                  </span>
                  <span class="float-end text-muted">
                    <a href="#" onClick="return false;">John Deo</a>
                  </span>
                </p>
                <p class="clearfix">
                  <span class="float-start">
                    Twitter
                  </span>
                  <span class="float-end text-muted">
                    <a href="#" onClick="return false;">@johndeo</a>
                  </span>
                </p>
              </div>
            </div>
          </div>
          <!-- <div class="card">
            <div class="card-header">
              <h4>Skills</h4>
            </div>
            <div class="card-body">
              <ul class="list-unstyled user-progress list-unstyled-border list-unstyled-noborder">
                <li class="media">
                  <div class="media-body">
                    <div class="media-title">Java</div>
                  </div>
                  <div class="media-progressbar p-t-10">
                    <ngb-progressbar type="primary" [value]="55" height=".4rem"></ngb-progressbar>
                  </div>
                </li>
                <li class="media">
                  <div class="media-body">
                    <div class="media-title">Web Design</div>
                  </div>
                  <div class="media-progressbar p-t-10">
                    <ngb-progressbar type="success" [value]="67" height=".4rem"></ngb-progressbar>
                  </div>
                </li>
                <li class="media">
                  <div class="media-body">
                    <div class="media-title">Photoshop</div>
                  </div>
                  <div class="media-progressbar p-t-10">
                    <ngb-progressbar type="warning" [value]="72" height=".4rem"></ngb-progressbar>
                  </div>
                </li>
              </ul>
            </div>
          </div> -->
        </div>
        <div class="col-12 col-md-12 col-lg-8">
          <div class="card">
            <div class="padding-20">
              <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
                <li [ngbNavItem]="1">
                  <a >Profile</a>
                  <ng-template ngbNavContent>
                    <div class="card-header">
                      <h4>Edit Profile</h4>
                    </div>
                    <div class="card-body">
                      <div class="row">
                        <div class="form-group col-md-6 col-12">
                          <label>Name</label>
                          <input 
                            type="text" 
                            class="form-control" 

                            >
                          <div class="invalid-feedback">
                            Please fill in the first name
                          </div>
                        </div>

                        <div class="form-group col-md-6 col-12">
                          <label>Email</label>
                          <input 
                            type="text" 
                            class="form-control"

                            >
                          <div class="invalid-feedback">
                            Please fill in the last name
                          </div>
                        </div>

                        <div class="form-group col-md-6 col-12">
                            <label>Mobile Number</label>
                            <input 
                              type="text" 
                              class="form-control"
  
                              >
                            <div class="invalid-feedback">
                              Please fill in the last name
                            </div>
                          </div>

                          <div class="form-group col-md-6 col-12">
                            <label>Address</label>
                            <input 
                              type="text" 
                              class="form-control"
  
                              >
                            <div class="invalid-feedback">
                              Please fill in the last name
                            </div>
                          </div>

                      </div> 
                    </div>
                    <div class="card-footer text-end">
                      <button class="btn btn-primary">Save Changes</button>
                    </div>
                  </ng-template>
                </li>
                <!-- <li [ngbNavItem]="2">
                  <a ngbNavLink>Setting</a>
                  <ng-template ngbNavContent>
                    <div class="card-header">
                      <h4>Edit Profile</h4>
                    </div>
                    <div class="card-body">
                      <div class="row">
                        <div class="form-group col-md-6 col-12">
                          <label>First Name</label>
                          <input type="text" class="form-control" value="John">
                          <div class="invalid-feedback">
                            Please fill in the first name
                          </div>
                        </div>
                        <div class="form-group col-md-6 col-12">
                          <label>Last Name</label>
                          <input type="text" class="form-control" value="Deo">
                          <div class="invalid-feedback">
                            Please fill in the last name
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="form-group col-md-7 col-12">
                          <label>Email</label>
                          <input type="email" class="form-control" value="test@example.com">
                          <div class="invalid-feedback">
                            Please fill in the email
                          </div>
                        </div>
                        <div class="form-group col-md-5 col-12">
                          <label>Phone</label>
                          <input type="tel" class="form-control" value="">
                        </div>
                      </div>
                      <div class="row">
                        <div class="form-group col-12">
                          <label>Bio</label>
                          <textarea
                            class="form-control">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur voluptatum alias molestias minus quod dignissimos.</textarea>
                        </div>
                      </div>
                      <div class="row">
                        <div class="form-group mb-0 col-12">
                          <div class="custom-control custom-checkbox">
                            <input type="checkbox" name="remember" class="custom-control-input" id="newsletter">
                            <label class="custom-control-label" for="newsletter">Subscribe to newsletter</label>
                            <div class="text-muted form-text">
                              You will get new information about products, offers and promotions
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card-footer text-end">
                      <button class="btn btn-primary">Save Changes</button>
                    </div>
                  </ng-template>
                </li> -->
              </ul>
              <div [ngbNavOutlet]="nav" class="mt-2"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  