.accordion {
  .card {
    margin-bottom: 0px;
    .card-header {
      display: block;
    }
  }
  .btn-link {
    font-size: 16px;
    font-weight: 500;
    columns: red;
    text-decoration: none;
  }
}
