<main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
  <div class="container">
    <div class="auth-card">
      <div class="row">
        <div class="col-12">
          <div class="card card-primary">
            <div class="card-header">
              <h4>Reset Password</h4>
            </div>
            <div class="card-body">
              <p class="text-muted">Enter Your New Password</p>
              <form
                class="validate-form" 
                [formGroup]="chanagePasswordForm"
                (ngSubmit)="onSubmit()"
                >
                <div class="form-group">
                  <label for="email">School Domain</label>
                  <input 
                    type="text" 
                    class="form-control" 
                    name="email" 
                    tabindex="1" 
                    formControlName="schoolDomain"
                    required 
                    >
                    <small 
                      class="form-text text-danger"
                      *ngIf="
                        !chanagePasswordForm.get('schoolDomain').valid && 
                        chanagePasswordForm.get('schoolDomain').touched
                         "
                      > 
                         School Domain is required</small
                      >
                </div>

                <div class="form-group">
                  <label for="email">New Password</label>
                  <input 
                    type="password" 
                    class="form-control" 
                    name="email" 
                    tabindex="1" 
                    formControlName="password"
                    required 
                    >
                    <small 
                    class="form-text text-danger"
                    *ngIf="
                      !chanagePasswordForm.get('password').valid && 
                      chanagePasswordForm.get('password').touched
                       "
                    > 
                      New Password is required</small
                    >
                </div>

                <div class="form-group">
                  <label for="email">Confirm password</label>
                  <input 
                    type="password" 
                    class="form-control" 
                    name="email" 
                    tabindex="1" 
                    formControlName="confirmPassword"
                    required 
                    >
                    <small 
                    class="form-text text-danger"
                    *ngIf="
                      !chanagePasswordForm.get('confirmPassword').valid && 
                      chanagePasswordForm.get('confirmPassword').touched
                       "
                    > 
                      Confirm Password is required</small
                    >
                </div>
                <div class="form-group">
                  <button type="submit" class="btn btn-primary btn-lg btn-block" tabindex="4">
                    Reset Password
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
