   <main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
     <div class="container">
       <div class="card login-card mb-0">
         <div class="row no-gutters">
           <div class="col-md-5">
             <img 
                src="assets/images/login_logo.jpg" 
                alt="login" 
                class="login-card-img">
           </div>
           <div class="col-md-7">
             <div class="login-body">
               <div class="text-center">
                 <div class="brand-wrapper">
                   <img 
                    src="assets/images/logo.png" 
                    alt="logo" 
                    class="logo">
                    <span 
                        class="logo-name">Sign In
                  </span>
                 </div>
               </div>
               <form 
                  class="validate-form" 
                  [formGroup]="loginForm" 
                  (ngSubmit)="onSubmit()">
                 <div class="row">
                  <div class="col-lg-10">
                    <div class="form-group position-relative">
                      <label>School Domain <span class="text-danger">*</span></label>
                      <i-feather name="user" class="login-icons"></i-feather>
                      <input 
                          type="text" 
                          class="form-control psl-5"
                          formControlName="schoolDomain" 
                          placeholder="School Domain">
                          <small 
                            class="form-text text-danger"
                            *ngIf="
                              !loginForm.get('schoolDomain').valid && 
                              loginForm.get('schoolDomain').touched
                              "
                          > 
                              School Domain is required</small
                          >
                    </div>
                  </div>

                   <div class="col-lg-10">
                     <div class="form-group position-relative">
                       <label>Your Username <span class="text-danger">*</span></label>
                       <i-feather name="user" class="login-icons"></i-feather>
                       <input 
                          type="email" 
                          class="form-control psl-5" 
                          formControlName="username" 
                          placeholder="Email">
                          <small 
                            class="form-text text-danger"
                            *ngIf="
                              !loginForm.get('username').valid && 
                              loginForm.get('username').touched
                              "
                          > 
                              Email Or Username is required</small
                          >
                     </div>
                   </div>

                   <div class="col-lg-10">
                     <div class="form-group position-relative">
                       <label>Password <span class="text-danger">*</span></label>
                       <i-feather name="key" class="login-icons"></i-feather>
                       <input 
                          type="password" 
                          class="form-control psl-5" 
                          formControlName="password"
                          placeholder="Password">
                          <small 
                            class="form-text text-danger"
                            *ngIf="
                              !loginForm.get('password').valid && 
                              loginForm.get('password').touched
                              "
                          > 
                              Password is required</small
                          >
                     </div>
                   </div>

                   <div class="col-lg-10">
                     <div class="d-flex justify-content-between">
                       
                       <p class="forgot-pass mb-0"><a routerLink="/authentication/forgot"
                           class="text-dark fw-bold">Forgot password ?</a></p>
                     </div>
                   </div>
                   <p-toast position="top-center"></p-toast>
                   <!-- <div *ngIf="error" class="alert alert-danger mb-3 msl-3">{{error}}</div> -->
                   <div class="col-lg-10 mb-0">
                     <button class="btn btn-primary auth-form-btn">Sign in</button>
                   </div>
                 </div>
               </form>
             </div>
           </div>
         </div>
       </div>
     </div>
   </main>
