<section class="main-content">
    <ul class="breadcrumb breadcrumb-style ">
        <li class="breadcrumb-item">
          <h5 class="page-title m-b-0">Admin</h5>
        </li>
        <li class="breadcrumb-item bcrumb-1">
          <a routerLink="/dashboard/main">
            <i class="fas fa-home font-17"></i></a>
        </li>
        <li class="breadcrumb-item">Subject List</li>
      </ul>
      <div class="section-body">
        <div class="row clearfix">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
              <div class="p-10">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="row m-0">
                      <div class="col-lg-3 p-0">
                        <div class="ngxTableHeader">
                          <div class="table-title">
                            <h2><strong>Subjects</strong></h2>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-5 p-0">
                        <div class="ngxTableHeader">
                          <div class="table-search-area">
                            <div>
                              <label for="search-input"><i class="material-icons search-icon">search</i></label>
                              <input placeholder="Search" type="text" class="browser-default search-field"
                                 aria-label="Search box">
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4 p-0">
                        <div class="ngxTableHeader">
                          <!-- Add New Subject Button -->
                          <div class="header-buttons-left">
                            <div class="icon-button-demo buttons">
                              <button class="btn btn-icon icon-left btn-primary rounded-button" (click)='addNewSubject(addEditRecord)' >
                                <i class="material-icons">add</i>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              <ngx-datatable 
                #table class="material" 
                [rows]="data" 
                [loadingIndicator]="loadingIndicator"
                columnMode="force" 
                [headerHeight]="60"
                [footerHeight]="80" 
                rowHeight="auto" 
                [limit]="10"
                [scrollbarH]="scrollBarHorizontal" 
                [reorderable]="reorderable">

                
                <!--Subject Name Column-->
                <ngx-datatable-column name="Name" [width]="100">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.name}}
                  </ng-template>
                </ngx-datatable-column>
                
                <!--Subject Code Column-->
                <ngx-datatable-column name="Code" [width]="100">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.subjectCode}}
                  </ng-template>
                </ngx-datatable-column>

                <!--Subject Category Column-->
                <ngx-datatable-column name="Category" [width]="100">
                  <ng-template #p let-row="row" ngx-datatable-cell-template>
                     {{row.subjectCategoryName}}
                   </ng-template>
                </ngx-datatable-column>

                <!--Subject Stream Column-->
                <ngx-datatable-column name="Stream" [width]="100">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.subjectStreamName}}
                  </ng-template>
                </ngx-datatable-column>

                <!--Subject Parent Column-->
                <ngx-datatable-column name="Parent Subject" [width]="100">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.parentBasketSubjectName}}
                  </ng-template>
                </ngx-datatable-column>

                <!--Subject CreatedOn Column-->
                <ngx-datatable-column name="Created On" [width]="100">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.createdOn | date}}
                  </ng-template>
                </ngx-datatable-column>

                <!--Subject UpdateOn Column-->
                <ngx-datatable-column name="Updated On" [width]="100">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.updatedOn | date}}
                  </ng-template>
                </ngx-datatable-column>

              <!-- Action Column -->
                <ngx-datatable-column [width]="100" name="Actions" sortable="false">
                  <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                    <span>
                      <!--Subject Edit Button -->
                      <button 
                        class="btn btn-tbl-edit h-auto" 
                        (click)='updateSubject(row, rowIndex, addEditRecord)' >
                        <i class="fas fa-pen"></i>
                      </button>
                      <!--Subject Delete Button -->
                      <button 
                        class="btn btn-tbl-delete h-auto" 
                        (click)='deleteSubject(row)'>
                        <i class="far fa-trash-alt"></i>
                      </button>
                    </span>
                  </ng-template>
                </ngx-datatable-column>
              </ngx-datatable>

            <!-- Add new Subject Modal Window -->
            <ng-template #addEditRecord let-modal>
              <div class="modal-header editRowModal">
                <h4 class="modal-title" id="modal-basic-title">
                  <div class="table-modal-header">
                    <div class="modal-about">
                      <div class="fw-bold p-t-10 font-17">
                        Add new subject</div>
                    </div>
                  </div>
                </h4>
                <!-- Modal Close Button -->
                <button 
                  type="button" 
                  class="close" 
                  aria-label="Close" 
                  (click)="modal.dismiss()">
                  <span aria-hidden="true">
                    <i class="material-icons">close</i>
                  </span>
                </button>
              </div>

              <div class="modal-body">
                <form 
                  class="register-form" 
                  [formGroup]="subjectForm">
                  
                  <!-- First Form Row -->
                  <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                      <label>Subject <span class="text-danger">*</span></label>
                      <input 
                          type="text" 
                          class="form-control" 
                          placeholder="Name" 
                          formControlName="name"
                          required>
                      <small class="form-text text-danger"
                        *ngIf="!subjectForm.get('name').valid && subjectForm.get('name').touched">
                         subject is required
                      </small> 
                    </div>

                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                      <label>Code <span class="text-danger">*</span></label>
                      <input 
                          type="text" 
                          class="form-control" 
                          placeholder="Code" 
                          formControlName="subjectCode"
                          required>
                      <small class="form-text text-danger"
                        *ngIf="!subjectForm.get('name').valid && subjectForm.get('name').touched"> 
                        subject Code is required
                      </small> 
                    </div>
                  </div>
                  
                  <!-- Second Form Row -->
                  <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                      <div class="form-group">
                        <label>Subject Category<span class="text-danger">*</span></label>
                        <select 
                          class="form-select form-control" 
                          formControlName="categorysId">
                          <option 
                            *ngFor="let item of subjectCategorys" 
                            [value]="item.id">{{item.name}}                           
                          </option>
                        </select>
                      </div>
                    </div> 

                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                      <div class="form-group">
                        <label>Subject Stream<span class="text-danger">*</span></label>
                        <select 
                          class="form-select form-control" 
                          formControlName="subjectstreamId">
                          <option 
                            *ngFor="let item of subjectstreams" 
                            [value]="item.id">{{item.name}}
                          </option>
                        </select>
                      </div>
                    </div> 
                  </div>
                  
                  <!-- Third Form Row -->
                  <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                      <div class="row">
                        <label>AcademicLevels<span class="text-danger ">*</span></label>
                        <p-multiSelect 
                          [options]="subjectAcademicLevels" 
                          formControlName="subjectAcademicLevels" 
                          optionLabel="name" 
                          [style]="{'width':'206.5%'}">
                        </p-multiSelect>
                      </div>
                    </div>
                  </div>

                  <!-- Fourth Form Row -->
                  <div class="row">
                   <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                      <label class="col-sm-3 col-form-label"></label>
                        <div class="col-md-9">
                          <div class="input-group col-md-9">
                            <div class="form-check">
                              <input class="form-check-input" 
                                     type="radio" 
                                     [value]="false" 
                                     formControlName="isParentBasketSubject" 
                                     name="isParentBasketSubject" 
                                     id="rb3">
                              <label class="form-check-label" for="rb3">Basket Subject</label>
                            </div>
                            <div class="form-check">
                              <input class="form-check-input" 
                                     type="radio" 
                                     [value]="true" 
                                     formControlName="isParentBasketSubject" 
                                     name="isParentBasketSubject" 
                                     id="rb4">
                              <label class="form-check-label" for="rb4">Parent Subject</label>
                            </div>
                          </div>
                        </div> 
                    </div> 
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                      <div class="form-group">
                        <label>Parent Basket Subject<span class="text-danger"></span></label>
                        <select 
                          class="form-select form-control" 
                          formControlName="parentBasketSubjectId" >
                          <option 
                            *ngFor="let item of parentBasketSubjects" 
                            [value]="item.id">{{item.name}}
                          </option>
                        </select>
                      </div>
                    </div> 
                  </div> 

                    <!-- Modal Footer -->
                  <div class="modal-footer">
                    <!-- Save Subject Button -->
                    <button 
                      type="button" 
                      class="btn btn-primary" 
                      (click)="saveSubject()" 
                      [disabled]="!subjectForm.valid">
                      Save Subject
                    </button>
                    <!-- Modal Close Button -->
                    <button 
                      type="button" 
                      class="btn btn-light" 
                      (click)="modal.close('Close click')">
                      Close
                    </button>
                  </div>
                </form>
              </div>
            </ng-template>
          </div>
        </div>
    </div>
</div>
</div>
</section>

