<section class="main-content">
    <ul class="breadcrumb breadcrumb-style ">
        <li class="breadcrumb-item">
          <h5 class="page-title m-b-0">Lesson Assignment Submission</h5>
        </li>
        <li class="breadcrumb-item bcrumb-1">
          <a routerLink="/dashboard/main">
            <i class="fas fa-home font-17"></i></a>
        </li>
        <li class="breadcrumb-item"> Lesson Assignment Submission List</li>
    </ul>
        <div class="section-body">
            <div class="row clearfix">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                  <div class="p-10">
                    <div class="row">
                      <div class="col-lg-6">
                        <div class="row m-0">
                          <div class="col-lg-3 p-0">
                            <div class="ngxTableHeader">
                              <div class="table-title">
                                <h2><strong>Lesson Assignment Submission </strong></h2>
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-5 p-0">
                            <div class="ngxTableHeader">
                              <div class="table-search-area">
                                <div>
                                  <label for="search-input"><i class="material-icons search-icon">search</i></label>
                                  <input placeholder="Search" type="text" class="browser-default search-field"
                                     aria-label="Search box">
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-4 p-0">
                            <div class="ngxTableHeader">
                              <div class="header-buttons-left">
                                <div class="icon-button-demo buttons">
                                  <button class="btn btn-icon icon-left btn-primary rounded-button"  (click)='createNewLessonAssignmentSubmission(addEditRecord)' >
                                    <i class="material-icons">add</i>
                                  </button>
                                  <button  class="btn btn-icon icon-left btn-danger rounded-button">
                                    <i class="material-icons">delete</i>
                                  </button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
  
                   <!--Table-->
                <ngx-datatable #table class="material" [rows]="data" [loadingIndicator]="loadingIndicator"
                columnMode="force" [headerHeight]="60" [footerHeight]="80" rowHeight="auto" [limit]="10"
                [scrollbarH]="scrollBarHorizontal" [reorderable]="reorderable">
                <!--Column 01-->
                <ngx-datatable-column name="Id" [width]="100">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.Id}}
                  </ng-template>
                </ngx-datatable-column>
                     <!--Column 02-->
                     <ngx-datatable-column name="LessonAssignmentId" [width]="100">
                      <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.lessonAssignmentId}}
                      </ng-template>
                    </ngx-datatable-column>
                         <!--Column 03-->
                <ngx-datatable-column name="StudentId" [width]="100">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.studentId}}
                  </ng-template>
                </ngx-datatable-column>
                <!--Column 04-->
                <ngx-datatable-column name="Submission Path" [width]="100">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.submissionPath}}
                  </ng-template>
                </ngx-datatable-column>
                <!--Column 05-->
                <ngx-datatable-column name="Submisson Date" [width]="100">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.submissionDate}}
                  </ng-template>
                </ngx-datatable-column>
                <!--Column 06-->
                <ngx-datatable-column name="Marks" [width]="100">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.marks}}
                  </ng-template>
                </ngx-datatable-column>
               
  
                
                <ngx-datatable-column [width]="100" name="Actions" sortable="false">
                  <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                    <span>
                      <button class="btn btn-tbl-edit h-auto" >
                        <i class="fas fa-pen"></i>
                      </button>
                      <button class="btn btn-tbl-delete h-auto">
                        <i class="far fa-trash-alt"></i>
                      </button>
                    </span>
                  </ng-template>
                </ngx-datatable-column>
              </ngx-datatable>
              
  
            <!-- Add Record Modal Window -->
            <ng-template #addEditRecord let-modal>
                <div class="modal-header editRowModal">
                  <h4 class="modal-title" id="modal-basic-title">
                    <div class="table-modal-header">
                      <div class="modal-about">
                        <div class="fw-bold p-t-10 font-17">
                          Update Lesson Assignment Submission</div>
                      </div>
                    </div>
                  </h4>
                  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
                    <span aria-hidden="true"><i class="material-icons">close</i></span>
                  </button>
                </div>
  
                <!--Form-->
                <div class="modal-body">
                  <form class="register-form" [formGroup]="lessonAssignmentSubmissionForm">
  
                      <!--Row 01-->
                      <div class="row">
                      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                        <label>Id<span class="text-danger">*</span></label>
                        <input 
                            type="text" 
                            class="form-control" 
                            placeholder="Id" 
                            formControlName="id"
                            required>
                        <small class="form-text text-danger"
                          *ngIf="!lessonAssignmentSubmissionForm.get('id').valid && lessonAssignmentSubmissionForm.get('id').touched"> Question is
                          required</small>
                      </div>
  
                       <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                        <div class="form-group">
                          <label>Lesson Assignment<span class="text-danger">*</span></label>
                        <input 
                            type="text" 
                            class="form-control" 
                            placeholder="Lesson Assignment" 
                            formControlName="lessonAssignment"
                            required>
                        <small class="form-text text-danger"
                          *ngIf="!lessonAssignmentSubmissionForm.get('lessonAssignment').valid && lessonAssignmentSubmissionForm.get('lessonAssignment').touched">Sequence  No is
                          required</small>
                        </div>
                      </div>  
                    </div>
                    <!--Row 02-->
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                      <div class="form-group">
                        <label>Student <span class="text-danger">*</span></label>
                      <input 
                          type="text" 
                          class="form-control" 
                          placeholder="Student" 
                          formControlName="student"
                          required>
                      <small class="form-text text-danger"
                        *ngIf="!lessonAssignmentSubmissionForm.get('studentr').valid && lessonAssignmentSubmissionForm.get('student').touched">Sequence  No is
                        required</small>
                      </div>
                    </div> 
                     <!--Row 03-->
                     <div class="row">
                      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                        <label>Submission Path<span class="text-danger">*</span></label>
                        <input 
                            type="text" 
                            class="form-control" 
                            placeholder="Submission Path" 
                            formControlName="submisionPath"
                            required>
                        <small class="form-text text-danger"
                          *ngIf="!lessonAssignmentSubmissionForm.get('submisionPath').valid && lessonAssignmentSubmissionForm.get('submisionPath').touched"> Question is
                          required</small>
                      </div>
  
                       <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                        <div class="form-group">
                          <label>Submission Date<span class="text-danger">*</span></label>
                        <input 
                            type="text" 
                            class="form-control" 
                            placeholder="Submission Date" 
                            formControlName="submissionDate"
                            required>
                        <small class="form-text text-danger"
                          *ngIf="!lessonAssignmentSubmissionForm.get('submissionDate').valid && lessonAssignmentSubmissionForm.get('submissionDate').touched"> Question is
                          required</small>
                        </div>
                      </div>  
                    </div>

                    <!--Row 04-->
                    <div class="row">
                      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                        <label>Teacher Comments<span class="text-danger">*</span></label>
                        <input 
                            type="text" 
                            class="form-control" 
                            placeholder="TeacherComments" 
                            formControlName="teacherComments"
                            required>
                        <small class="form-text text-danger"
                          *ngIf="!essayStudentAnswerForm.get('teacherComments').valid && essayStudentAnswerFormm.get('teacherComments').touched"> Question is
                          required</small>
                      </div>
  
                       <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                        <div class="form-group">
                          <label>Marks<span class="text-danger">*</span></label>
                        <input 
                            type="text" 
                            class="form-control" 
                            placeholder="Marks" 
                            formControlName="marks"
                            required>
                        <small class="form-text text-danger"
                          *ngIf="!essayStudentAnswerForm.get('marks').valid && essayStudentAnswerFormm.get('marks').touched"> Question is
                          required</small>
                        </div>
                      </div>  
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-primary" (click)="save()" [disabled]="!essayStudentAnswerForm.valid">UPDATE LESSON ASSIGNMENT SUBMISSION</button>
                      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
                    </div>
                  </form>
                </div>
              </ng-template>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  
  
  
   